/* Centra todo el contenido en la pantalla y permite que el footer se quede al fondo */
.el-login {
    display: flex;
    flex-direction: column;
    
}

.login-contenedor {
    background: #ffffff !important;
    border-radius: 12px;
    width: 90%;
    padding: 24px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.login-contenedor h2 {
    color: #d35400;
    font-size: 2rem;
    margin-bottom: 4px;
}

.login-contenedor form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Estilos sencillos para los campos */
.login-usuario {
    text-align: left;
    margin-bottom: 16px;
}

/* Estilos del label con icono */
.login-usuario label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.login-usuario label ion-icon {
    color: #8a8a8a;
    font-size: 1.1rem;
}

/* El cuadro gris del input */
.login-usuario ion-input {
    background: #f2f2f2;
    border:1px solid #d35400;
    border-radius: 12px;
    padding: 8px !important;
    margin-top: 6px;
}
/* footer pegado abajo */
.login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d35400;
    padding:16px;
    background: #ffffff;
    font-size: 0.8rem;
}
