/* Centra todo el contenido en la pantalla */
.el-login {
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-contenedor {
--background: #ffffff !important; 
  border-radius: 12px; 
  width: 100%;
  max-width: 320px;
  margin: 40px auto;
  text-align: center;
}

.login-contenedor h2 {
  color: #d35400;
  font-size: 2rem;
  margin-bottom: 4px;
}

/* Estilos sencillos para los campos */
.login-usuario {
  text-align: left;
  margin-bottom: 16px;
}

.login-usuario label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

/* El cuadro gris del input */
.login-usuario ion-input {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 8px !important;
  margin-top: 6px;
}